.title {
    color: lightgrey;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin: auto;
    font-size: 10vh;
}

.checkin-form {
    color: lightgrey;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin: auto;
    font-size: 4vh;
}

input::placeholder {
    color: grey;
    font-size: 1.2em;
    font-style: italic;
  }

  .object {
    animation: MoveUpDown 5s linear infinite;
    position: absolute;
    left: 600;
    bottom: 0;
  }

  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 100px;
    }
  }

html {
    height: 100%;
    background-size: 100vh, 100vw;
    background: #466368;
    background: -webkit-linear-gradient(#293f50, #a7dacf);
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: lightgray;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: lightgray;
    font-size: 12px;
}