<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/roomstyles.css">

    </head>

    <body>
            
        <br><br>

        <div class="title">
            <center>
                OfficeFace
            </center>
        </div>

        <div class="checkin-form">
            <center>
               <div class="object">
                <img style="width: 300px;" src=../Eyes.jpg>
              </div>
            </center>
        </div>
        
    </body>
</html>