<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/roomstyles.css">

    </head>

    <body>
            
        <br><br>

        <div class="title">
            <center>
                OfficeFace
            </center>
        </div>

        <div class="checkin-form">
            <center>
                <!DOCTYPE html>

<div class="checkin-form">
<center>
<form action="/checkin", method="POST">
<br><br>
    <p>Patient: </p>
<p>ID: #</p>
<p>DOB: </p>
Height:
<input type="text" placeholder="[current height]" name="patient_height">
<br>
Weight:
<input type="text" placeholder="[current weight]" name="patient_weight">
<br>
Preferred Physician:
<input type="text" placeholder="[current doctor]" name="preferred_doctor">
<br>
Medical History:
<input type="text" placeholder="[medical history]" name="medical_past">
<br>
Allergies:
<input type="text" placeholder="[known allergies]" name="patient_known_allergies">
<br>
</form>
</center> 
    </body>
</html>