<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/roomstyles.css">

    </head>

    <body>
            
        <br><br>

        <div class="title">
            <center>
                Patient
            </center>
        </div>

        <div class="checkin-form">
            <center>
                <!DOCTYPE html>
<center>
<div class="checkin-form">
    <form action="/update", method="POST">
        
        <p>Patient: {{ last_name }}, {{ first_name }}</p>
        <p>ID: #{{ patient_id }}</p>
        <p>DOB: {{ DOB }}</p>
        Height:
        <input type="text" value="{{ height }}" name="patient_height">
        <br>
        Weight:
        <input type="text" value="{{ weight }}" name="patient_weight">
        <br>
        Preferred Physician:
        <input type="text" value="{{ preferred_physician }}" name="preferred_doctor">
        <br>
        Medical History:
        <input type="text" value="{{ medical_history }}" name="medical_past">
        <br>
        Allergies:
        <input type="text" value="{{ allergies }}" name="patient_allergies">
        <br><br>
        <input type="submit" value="Update">
    </form>
    <form action="/close", method="GET">
        <input type="submit" value="Close">
    </form>
</div>
</center>
    </body>
</html>