<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/serverstyles.css') }}">

    </head>

    <body>
            
        <br><br>

        <div class="title">
            <center>
                OfficeFace
            </center>
        </div>

        <div class="checkin-form">
            <center>
                <form action="/checkin", method="POST">
                    Patient Checkin
                    <br><br>
                    <input type="text" placeholder="Patient ID" name="patient_id">
                    <br>
                    <input type="text" placeholder="Patient First Name" name="patient_name_first">
                    <input type="text" placeholder="Patient Last Name" name="patient_name_last">
                    <br><br>
                    <input type="submit" value="Check In">
                </form>
            </center>
        </div>

        <br><br>

        <div id="checked-in" class="checkin-list">

        </div>
        
    </body>
</html>